{% extends 'base.back.html.twig' %}

{% block title %}Home Repair - Dashboard{% endblock %}


{% block content %}
    <div class="card">
        <h5 class="card-header">Users</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>

                    <th>last name</th>
                    <th>email</th>
                    <th>Password</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr {% for a in User %}>
                    <td> {{ a.lastName }}</td>
                    <td> {{ a.email }}</td>
                    <td> {{ a.password }}</td>
                    <td> <a href="{{ path('deleteC',{'id':a.id}) }}"> Delete</a> <a href="{{ path('upc',{'id':a.id}) }}"> update</a> </td>
                </tr {% endfor %}>


                </tbody>
            </table>
        </div>
    </div>



{% endblock %}




